mindquantum @ https://ms-release.obs.cn-north-4.myhuaweicloud.com/1.7.0/MindQuantum/x86_64/mindquantum-0.6.0-cp39-cp39-win_amd64.whl
mindspore @ https://ms-release.obs.cn-north-4.myhuaweicloud.com/1.7.0/MindSpore/cpu/x86_64/mindspore-1.7.0-cp39-cp39-win_amd64.whl
numpy==1.23.0
